

  <!-- Profile -->
  <div class="classmate-profile d-flex justify-content-center">
    <div class="container">

          <!-- Profile Header -->
          <div class="row">
            <div class="col-md-8">
              <div class="card card-body bg-info text-white mb-3">
                <div class="row">
                  <div class="col-4 col-md-3 m-auto">
                    <img class="rounded-circle" src="{{profile.user.avatarUrl}}" alt="" style="width:100%" />
                  </div>

                </div>
                <div class="text-center">

                  <h1 class="display-4 text-center">{{profile.user.username}}</h1>
                  {{!-- <p class="lead text-center">Developer at Microsoft</p> --}}
                  <p> {{profile.location}}</p>
                  <p>
                    <a class="text-white p-2" href="https://medium.com/@rpastor/tutorial-raspberry-pi-retropie-parte-iii-las-roms-4ffbeef8289f">
                      <i class="fas fa-globe fa-2x"></i>
                    </a>

                    <a class="text-white p-2" href="{{profile.social.twitter}}">
                      <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a class="text-white p-2" href="{{profile.social.facebook}}">
                      <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a class="text-white p-2" href={{profile.social.linkedin}}>
                      <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                      <a class="text-white p-2" href={{profile.social.youtube}}>
                      <i class="fab fa-youtube fa-2x"></i>
                    </a>
                    <a class="text-white p-2" href={{profile.social.instagram}}>
                      <i class="fab fa-instagram fa-2x"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Profile About -->
          <div class="row">
            <div class="col-md-8">
              <div class="card card-body bg-light mb-3">
                <h3 class="text-center text-info">{{profile.user.username}}'s Bio</h3>
                <br>
                <p class="lead">{{profile.bio}}
                </p>
                <hr />
                <h3 class="text-center text-info">Interests/Skills</h3>
                <div class="row">

                  {{#each profile.skills}}
                  <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <div class="p-3">
                      <i class="fa fa-check"></i> {{this}}</div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>


          <!-- Profile Github -->


    
      </div>
    </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
