<section class="learning">
<div id="commentable-container" class="container commentable-container col-md-6">
  <h1 class="title">
    HTML basics

  </h1>
  <cite class= "sublead">
    In this lesson we'll introduce you to HTML, the standard language of the Web
  </cite>

  <p data-section-id="5" class="commentable-section">
    <strong>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.</strong> With Cascading Style Sheets (CSS) and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web.
  </p>
  <p data-section-id="6" class="commentable-section">
   Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. <strong></strong>HTML describes the structure of a web page semantically and originally included cues for the appearance of the document. </strong>
  </p>

<img src="https://afinde-production.s3.amazonaws.com/uploads/981ebabb-5722-44c1-ad30-fc57fbc8ee9d.jpeg" alt="I know HTML... How to meet ladies" class="lessonpic">

  <p data-section-id="7" class="commentable-section">
    HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page. HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. HTML elements are delineated by tags, written using angle brackets. Tags such as < img /> and < input /> directly introduce content into the page. Other tags such as < p > surround and provide information about document text and may include other tags as sub-elements. Browsers do not display the HTML tags, but use them to interpret the content of the page.
  </p>

  <p data-section-id="8" class="commentable-section">
    <strong>< p >...< / p ></strong>
    Creates a paragraph, perhaps the most common block level element.
<strong>< h1>...< /h1> < h2>...< /h2> < h3>...< /h3> < h4>...< /h4> < h5>...</ h5> < h6>...< /h6></strong>

Section headings at different levels. h1 delimits the highest-level heading, h2 the next level down (sub-section), h3 for a level below that, and so on to h6. They are sometimes referred to collectively as hn tags, n meaning any of the available heading levels.
Most visual browsers show headings as large bold text by default, though this can be overridden with CSS. Heading elements are not intended merely for creating large or bold text – in fact, they should not be used for explicitly styling text. Rather, they describe the document’s structure and organization. Some programs use them to generate outlines and tables of contents.
Headings existed in HTML Tags, and were standardized in HTML 2.0; still current.

    <small class="form-text text-muted">Text from Wikipedia.com</small>
  </p>


  {{!-- This is the handlebar helper that we registered--}} {{assign 'existingComments' this.data.coment}}

<div class="quiz form-group">
<h3 class = "quiztitle">Quiz 2: HTML 101</h3>
<form action="/quiz2" method="post" class = "form-inline">
<label for="quiz2">It's time to test your knowledge of basic HTML tags. Which of the following tags should be used to create a new paragraph? Please ignore the spaces.</label>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    ~~ paragraph ~~
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    $ newPar
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
    < p >
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
    < h1 >
</label>
</div>
<input id='submitquiz2' type="submit" value="Submit" class="btn btn-success quizinput">
</form>
<small id="quiz2helper" class="form-text text-muted">{{{successMessage}}}</small>

</div>
</section>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/javascripts/side-comments.js"></script>
<script src="/javascripts/test_data.js"></script>
<script type="text/javascript">

  //Existing comments
  var existingComments = [{{{@root.existingComments}}}];
  console.log(existingComments)
  //Construimos el objeto del usuario actual
  var currentUsera = {
    id: `{{this.data.user.id}}`,
    avatarUrl: `{{this.data.user.avatarUrl}}`,
    authorUrl: `{{this.data.user.authorUrl}}`,
    name: `{{this.data.user.username}}`
  };
</script>
<script src="/javascripts/learning.js"></script>
<script src="/javascripts/quiz.js"></script>


